.App {
  text-align: center;
}

* {
  font-family: Helvetica;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 640px) {
  .dynamic_x_padding {
    padding: 20rem;
  }
}

/* .dynamic_padding {
  padding: 10px 30px;
} */

.container {
  width: 12rem;
  height: 12rem;
  position: relative;
  /* background-color: #b8a1a1; */
}

.container::after,
.container::before {
  content: "";
  position: absolute;
}

.container::after {
  width: 11rem;
  height: 9rem;
  display: block;
  left: 0.5rem;
  top: 0.5rem;
  background-color: white;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.container::before {
  width: 12rem;
  height: 10rem;
  display: block;
  background-color: rgb(87, 82, 82);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}


.container__text1 {
  font-size: 1.2rem;
  text-align: center;
  top: 10%;
  font-weight: 700;
  font-family: Helvetica;
  color: #1e293b;
  z-index: 100;
  position: relative;
}

.container__text2 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: #475569;
  max-width: 50%;
  margin: auto;
  top: 20%;
  z-index: 100;
  position: relative;
}

.service__images {
  background-image: url("../src/assets/images/Beegon.png");
  transform: rotate(360deg);
  background-repeat: no-repeat;
  /* width: 1rem; */
}

@media(min-width: 768px) {
  .container {
    width: 16rem;
    height: 16rem;
    position: relative;
  }

  .container::after {
    width: 15rem;
    height: 13rem;
  }

  .container::before {
    width: 16rem;
    height: 14rem;
  }

  .container__text1 {
    font-size: 2rem;
    top: 20%;
  }

  .container__text2 {
    font-size: 1.2rem;
    top: 30%;
  }
}


/* .companies_image {
  max-width: 900px;
  height: auto;
  margin-bottom: 2rem;
} */

@media(min-width: 640px) {
  .companies_image {
    max-width: 500px;
    height: auto;

  }
}

@media(min-width: 640px) {
  .display__accordian {
    display: none;
  }

  .display__tabs {
    display: contents;
  }
}

.check {
  border: 2px solid red;
}



/* .display__tabs {
  display: none;
} */

/* @media(min-width: 768px) {
  .container {
    width: 16rem;
    height: 16rem;
    position: relative;
  }

  .container::after {
    width: 15rem;
    height: 13rem;
  }

  .container::before {
    width: 16rem;
    height: 14rem;
  }

  .container__text1 {
    font-size: 2rem;
    top: 20%;
  }

  .container__text2 {
    font-size: 1.2rem;
    top: 30%;
  }
} */