.App {
  text-align: center;
}

* {
  font-family: Helvetica;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.career_box {
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(231, 190, 38, 0.3);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .dynamic_x_padding {
    padding: 20rem;
  }
}

/* .dynamic_padding {
  padding: 10px 30px;
} */

.content {
  margin-left: 3rem;
  margin-right: 2rem;
  font-size: 1.5rem;

  @media (min-width: 640px) {
    margin-left: 10rem;
    margin-right: 4rem;
  }

  @media only screen and (min-width: 520px) and (max-width: 640px) {
    margin-left: 7rem;
    margin-right: 6rem;
    font-size: 2rem;
  }
}

.hamburger {
  cursor: pointer;
}

.container {
  width: 12rem;
  height: 12rem;
  position: relative;
  /* background-color: #b8a1a1; */
}

.container::after,
.container::before {
  content: "";
  position: absolute;
}

.container::after {
  width: 11rem;
  height: 9rem;
  display: block;
  left: 0.5rem;
  top: 0.5rem;
  background-color: white;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.container::before {
  width: 12rem;
  height: 10rem;
  display: block;
  background-color: rgb(87, 82, 82);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.container__text1 {
  font-size: 1.2rem;
  text-align: center;
  top: 10%;
  font-weight: 700;
  font-family: Helvetica;
  color: #1e293b;
  z-index: 100;
  position: relative;
}

.container__text2 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: #475569;
  max-width: 50%;
  margin: auto;
  top: 20%;
  z-index: 100;
  position: relative;
}

.service__images {
  background-image: url("../src/assets/images/Beegon.png");
  transform: rotate(360deg);
  background-repeat: no-repeat;
  /* width: 1rem; */
}

@media (min-width: 768px) {
  .container {
    width: 16rem;
    height: 16rem;
    position: relative;
  }

  .container::after {
    width: 15rem;
    height: 13rem;
  }

  .container::before {
    width: 16rem;
    height: 14rem;
  }

  .container__text1 {
    font-size: 2rem;
    top: 20%;
  }

  .container__text2 {
    font-size: 1.2rem;
    top: 30%;
  }
}

/* .companies_image {
  max-width: 900px;
  height: auto;
  margin-bottom: 2rem;
} */

@media (min-width: 640px) {
  .companies_image {
    max-width: 500px;
    height: auto;
  }
}

@media (min-width: 640px) {
  .display__accordian {
    display: none;
  }

  .home__tabs {
    display: flex;
  }

  .display__tabs {
    display: contents;
  }
}

@media(min-width:819px) {
  .dynamic__height {
    height: 400px;
  }
}

.check {
  border: 2px solid red;
}

/* .display__tabs {
  display: none;
} */

/* @media(min-width: 768px) {
  .container {
    width: 16rem;
    height: 16rem;
    position: relative;
  }

  .container::after {
    width: 15rem;
    height: 13rem;
  }

  .container::before {
    width: 16rem;
    height: 14rem;
  }

  .container__text1 {
    font-size: 2rem;
    top: 20%;
  }

  .container__text2 {
    font-size: 1.2rem;
    top: 30%;
  }
} */

.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #fff;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}

.carousel-img {
  width: 250px;
  padding: 0 20px 0 20px;
}

/* final stage */

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}

.check {
  border: solid red 2px;
}

.gridView {
  display: block;
  height: auto;
  width: 20rem;

  @media (max-width: 340px) {
    width: 16rem;
  }

  @media only screen and (min-width: 678px) and (max-width: 1099px) {
    columns: 2;
    width: auto;
  }

  @media (min-width: 1100px) {
    columns: 3;
    width: auto;
  }

  @media (min-width: 1400px) {
    gap: 3rem;
    width: auto;
    margin-left: 2rem;
  }

  @media (min-width: 2000px) {
    margin-left: 8rem;
    gap: 10rem;
    width: 120rem;
  }
}

.card {
  display: inline-block;
  margin-bottom: 3rem;
  @media (max-width: 1024px) {
    margin-bottom: 1rem;
  }
  @media (max-width: 340px) {
    width: 16rem;
  }
}
